body {
    background: #353940;
    color: #d5dce8;
    font-family: sans-serif;
    margin: 0;
}
#simulation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#error {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
}